In [65]:
import pandas as pd

from IPython.core.display import display, HTML

pd.options.display.float_format = '{:,.2f}'.format
month = '2016-09-01'

# How could we scalp the NHS?

Anything not listed in the Drug Tariff ("NP8" - Not Part 8) can be supplied by a dispensing contractor at whatever price they find. They can then pass their invoice on to the NHS.

Some pharma companies specialise in selling pills at rip-off prices (e.g. £90 for a packet of cod liver oil capsules, as exposed in [this Telegraph article from 2013](http://www.telegraph.co.uk/news/health/news/10181169/Pricing-scandal-sees-NHS-pay-89-for-accessible-cod-liver-oil-capsules.html)) to the contractor, who then passes on the cost to the NHS. Separately, the pharma company has a contract with the pharmacy to pay them the equivalent of (say) £45 per packet "commission". As one happy pharmacist [said in an online forum](http://www.pharmacy-forum.co.uk/showthread.php?t=10802):

> There's also NP8 (non part VIII drugs)..these are drugs not listed so the price paid is whatever it costs you to buy. Now some wholesalers will say X amount for an NP8 drug then give you 50/60/70 or even 80% off in a legally round about way- thats a ton of margin right there because you claim say £100 when actually you've only paid £20. Think Tramadol M/R formulations.

Therefore, if I was a Black Hat Pharma company, I would look for drugs which:

* Are not in the Tariff;
* Are generically prescribed;
* Are prescribed in relatively high quantities;
* Are not already subject to fleecing by my competitors

We can use a coefficient of deviation to find things which do (or don't) already have high variance.

In [2]:
sql = """

WITH np8_drugs AS (SELECT
  p.bnf_code,
  p.bnf_name,
  sum(quantity) as quantity,
  sum(net_cost) as cost,
  IEEE_DIVIDE(stddev_pop(IEEE_DIVIDE(net_cost, quantity)), avg(IEEE_DIVIDE(net_cost,quantity))) as coefficient_of_deviation
FROM
  ebmdatalab.hscic.prescribing AS p
INNER JOIN
  ebmdatalab.hscic.dmd dmd
ON
  dmd.bnf_code = p.bnf_code
WHERE
  p.month = TIMESTAMP('"""+month+"""') 
AND dmd.tariff_category IS NULL
AND dmd.avail_restrictcd = '1' -- not specials
AND p.bnf_code LIKE '_________AA%' -- generically prescribed
AND p.bnf_code NOT LIKE '19%' -- devices etc
GROUP BY p.bnf_code, p.bnf_name)

SELECT * 
FROM 
  np8_drugs 
WHERE cost > 2000 -- relatively high quantities
ORDER BY
  coefficient_of_deviation ASC -- things with least variability first (no-one else is on it yet)

"""
df = pd.io.gbq.read_gbq(sql, project_id="ebmdatalab", verbose=False, dialect='standard')

In [66]:
#df.head(10)
display(HTML(df.head().to_html(formatters={'cost': '£{:,.2f}'.format}, max_rows=10)))

It might be easier for us to scalp where the price per dose is currently relatively low. Let's only look at presentations where a does is less than £1, then put the ones with the greatest monthly cost to the NHS at the top.

In [67]:
df.query('(cost / quantity < 1.0) & coefficient_of_deviation < 0.01').sort_values('quantity', ascending=False).head(10)

,bnf_code,bnf_name,quantity,cost,coefficient_of_deviation
142,130201100AAAGAG,Soya Oil82.95%/Lauromacrogois15%_BathOil,525000,"6,993.00",0.00
356,1302010U0AAAMAM,Urea_Lot 10%,409551,"12,990.95",0.00
172,1309000L0AAABAB,Benzalk Chlor_Shampoo 0.5%,334500,"7,613.22",0.00
347,1302011L0AAAHAH,Liq Paraf Light_Gel 70%,332400,"11,431.48",0.00
308,1108010B0AAACAC,Carbomer 980_Gel Eye Dps 0.2% Ud,287890,"52,012.17",0.00
346,0902011U0AAABAB,Pot Chlor_Oral Soln 375mg/5ml S/F,189176,"3,007.96",0.00
307,0601023AFAAABAB,Linagliptin/Metformin_Tab 2.5mg/1g,178499,"106,018.36",0.00
253,1106000AIAAABAB,Bimatoprost/Timolol_EyeDps300mcg/5mg 0.4,123040,"71,773.38",0.00
137,090401000AAALAL,Carob Seed Flour_Pdr,110430,"2,323.12",0.00
344,0403040W0AAASAS,Venlafaxine_Cap 37.5mg M/R,107906,"20,232.16",0.00

In [68]:
df.query('(cost / quantity < 1.0) & coefficient_of_deviation < 0.01').sort_values('quantity', ascending=False).describe()

        quantity       cost  coefficient_of_deviation
count      82.00      82.00                     82.00
mean   50,093.35   9,737.41                      0.00
std    93,329.52  15,240.21                      0.00
min     2,789.00   2,004.11                      0.00
25%     8,712.75   3,059.41                      0.00
50%    16,311.00   5,642.18                      0.00
75%    43,177.50   9,721.60                      0.00
max   525,000.00 106,018.36                      0.01

# Where is scalping most likely to be happening now?

We can reverse the logic to find the presentations most likely to be subject to scalping right now:

In [70]:
sql = """

WITH clipped_values AS (
SELECT 
  p.bnf_code, bnf_name, quantity, net_cost,
  NTILE(100) OVER (ORDER BY IEEE_DIVIDE(net_cost, quantity)) AS ntile
FROM
  ebmdatalab.hscic.prescribing AS p
INNER JOIN ( -- we only want one row per BNF code
      select * from (
        select *, row_number() over (
            partition by bnf_code
            order by dmdid
        ) as row_num
        from ebmdatalab.hscic.dmd dmd where tariff_category is null and dmd.avail_restrictcd = '1'
    ) as ordered_dmd
    where ordered_dmd.row_num = 1
  ) dmd
ON
  dmd.bnf_code = p.bnf_code
WHERE
  p.month = TIMESTAMP('"""+month+"""')
AND p.bnf_code LIKE '_________AA%' -- generically prescribed
AND p.bnf_code NOT LIKE '19%' -- devices etc
),

data AS (SELECT
  bnf_code,
  bnf_name,
  sum(quantity) as quantity,
  sum(net_cost) as cost,
  IEEE_DIVIDE(stddev_pop(IEEE_DIVIDE(net_cost, quantity)), avg(IEEE_DIVIDE(net_cost,quantity))) as coefficient_of_deviation
FROM clipped_values
WHERE ntile <= 95
GROUP BY bnf_code, bnf_name)

SELECT * 
FROM 
  data
WHERE cost > 2000 -- relatively high quantities
ORDER BY
  coefficient_of_deviation DESC -- things with most variability first 

"""
df2 = pd.io.gbq.read_gbq(sql, project_id="ebmdatalab", verbose=False, dialect='standard')

In [85]:
top_offenders = df2.query('(cost / quantity < 1.0) & coefficient_of_deviation > 0.1').sort_values('cost', ascending=False)
print "Using our standard PPQ savings calculations, there are possible savings of £718,000 from these drugs per month"
top_offenders.head(10)

Using our standard PPQ savings calculations, there are possible savings of £718,000 from these drugs per month

,bnf_code,bnf_name,quantity,cost,coefficient_of_deviation
47,040702040AAACAC,Tramadol HCl_Tab 100mg M/R,885970,"351,367.77",0.77
87,040702040AAAEAE,Tramadol HCl_Tab 200mg M/R,241319,"150,179.55",0.47
17,0906040G0AABIBI,Colecal_Cap 400u,255210,"100,927.95",1.73
71,0107020J0AAAEAE,Cinchocaine HCl/Hydrocort_Oint 0.5%/0.5%,286590,"94,412.08",0.64
37,0905013G0AAAYAY,Mag Glycerophos_Tab Chble 97.2mg S/F,93324,"85,867.43",1.04
50,0206020C0AAAVAV,Diltiazem HCl_Cap 180mg M/R,170984,"61,510.59",0.74
46,0206020C0AAAUAU,Diltiazem HCl_Cap 120mg M/R,229536,"59,575.79",0.77
57,0206020R0AAARAR,Nifedipine_Tab 20mg M/R,258719,"53,240.77",0.70
29,1311020L0AAAIAI,Chlorhex Glucon_Soln 4%,3598400,"50,391.33",1.20
10,0906040G0AABRBR,Colecal_Tab 400u,172925,"49,943.84",1.94

## Who are the suppliers of the most expensive brands of each of these drugs?

In [72]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/openprescribing')
sql = '''
SELECT dmd_lookup_supplier.desc AS supplier, count(*) as count from dmd_product
  INNER JOIN dmd_amp ON dmd_product.vpid = dmd_amp.vpid
  INNER JOIN dmd_lookup_supplier ON dmd_amp.suppcd = dmd_lookup_supplier.cd 
  WHERE bnf_code =  ANY(%(bnf_codes)s)
  GROUP BY supplier
  ORDER BY count DESC
  
'''
naughty_suppliers = pd.read_sql_query(sql,con=engine,params={'bnf_codes': list(top_offenders['bnf_code'])})
print ("There are %s suppliers of the top 20 most variant presentation. \n"
       "The mean number of presentations for such a supplier is %i" % (len(naughty_suppliers), naughty_suppliers['count'].mean()))
naughty_suppliers.head()

There are 91 suppliers of the top 20 most variant presentation.
The mean number of presentations for such a supplier is 48

                    supplier  count
0     Waymade Healthcare Plc    284
1     Ennogen Healthcare Ltd    270
2                Teva UK Ltd    237
3         DE Pharmaceuticals    235
4  Sigma Pharmaceuticals Plc    214

In [73]:
non_offenders = df.query('(cost / quantity < 1.0) & coefficient_of_deviation < 0.01').sort_values('quantity', ascending=False).head(20)
good_suppliers = pd.read_sql_query(sql,con=engine,params={'bnf_codes': list(non_offenders['bnf_code'])})
print ("There are %s suppliers of the top 20 least variant presentation. \n"
       "The mean number of presentations for such a supplier is %i" % (len(good_suppliers), good_suppliers['count'].mean()))
good_suppliers.head()

There are 28 suppliers of the top 20 least variant presentation.
The mean number of presentations for such a supplier is 1

                       supplier  count
0        Waymade Healthcare Plc      5
1      Imported (United States)      4
2  Alliance Pharmaceuticals Ltd      4
3                  Almirall Ltd      4
4     A A H Pharmaceuticals Ltd      4

## The switch-monopoly-supplier trick