In [2]:
import pandas as pd
import sqlite3
con = sqlite3.connect("dmd.db")

In [13]:
# http://www.nhsbsa.nhs.uk/PrescriptionServices/Documents/PrescriptionServices/dmd_Implemention_Guide_(Primary_Care)_v1.0.pdf
sql = """
SELECT * from dmd_product
INNER JOIN AMP
  ON AMP.APID = DMDID
  OR AMP.VPID = DMDID
INNER JOIN AMPP
  ON AMPP.APID = AMP.APID
INNER JOIN REIMB_INFO
  ON AMPP.APPID = REIMB_INFO.APPID
  AND SPEC_CONTCD = 1
"""
special_containers = pd.read_sql_query(sql, con)

In [15]:
len(special_containers)

90277

In [12]:
special_containers.head()

,DMDID,BNF_CODE,VPID,DISPLAY_NAME,EMA,PRES_STATCD,AVAIL_RESTRICTCD,product_type,NON_AVAILCO,concept_class,...,DISCDT,APPID,PX_CHRGS,DISP_FEES,BB,LTD_STAB,CAL_PACK,SPEC_CONTCD,DND,FP34D
0,330726003,1106000P0AAAAAA,330726003,Dorzolamide 2% eye drops,0,1,1,1,NaN,1,...,None,1384711000001109,1,1,None,None,None,1,NaN,NaN
1,434711000001109,1106000P0BBAAAA,330726003,Trusopt 2% eye drops (Santen UK Ltd),None,1,1,2,0.0,2,...,None,1384711000001109,1,1,None,None,None,1,NaN,NaN
2,331126001,1202020L0AAAAAA,331126001,Sodium chloride 0.9% nasal drops,0,1,1,1,NaN,1,...,None,9433511000001106,1,1,None,None,None,1,NaN,NaN
3,9433411000001107,21240000110,331126001,Sodium chloride 0.9% nasal drops (RX Farma),None,1,1,3,0.0,2,...,None,9433511000001106,1,1,None,None,None,1,NaN,NaN
4,323733007,0501013B0AAAKAK,323733007,Amoxicillin 250mg/5ml oral suspension,0,1,1,1,NaN,1,...,2007-05-08,1511211000001100,1,1,None,None,None,1,NaN,NaN

In [19]:
sql = """SELECT count(QTYVAL) as num_pack_sizes, BNF_CODE from dmd_product
INNER JOIN AMP
  ON AMP.APID = DMDID
  OR AMP.VPID = DMDID
INNER JOIN AMPP
  ON AMPP.APID = AMP.APID
INNER JOIN VMPP
ON AMPP.VPPID = VMPP.VPPID GROUP BY BNF_CODE"""
df = pd.read_sql_query(sql, con)

In [27]:
df[df.num_pack_sizes > 1].sort_values('num_pack_sizes', ascending=False).head(20)

       num_pack_sizes         BNF_CODE
0              100234             None
4306              868      21020000101
4310              529      21020000105
4307              517      21020000102
40880             507  190203000BBAAA0
39619             300  130802000BBATA0
5854              264      21270000490
5818              264      21270000454
5825              264      21270000461
5824              264      21270000460
5855              264      21270000491
5823              264      21270000459
5822              264      21270000458
5821              264      21270000457
5820              264      21270000456
5819              264      21270000455
5857              264      21270000493
5856              264      21270000492
5827              264      21270000463
5859              264      21270000495

In [36]:
sql = """SELECT BNF_CODE, VMPP.QTYVAL, AMPP.*  from dmd_product
INNER JOIN AMP
  ON AMP.APID = DMDID
  OR AMP.VPID = DMDID
INNER JOIN AMPP
  ON AMPP.APID = AMP.APID
INNER JOIN VMPP
ON AMPP.VPPID = VMPP.VPPID WHERE BNF_CODE='21270000457'"""
df2 = pd.read_sql_query(sql, con)
pd.set_option('display.max_colwidth', -1)
df2['NM']

0      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size I Beige (Haddenham Healthcare Ltd) 2 device
1      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size II Beige (Haddenham Healthcare Ltd) 2 device
2      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size III Beige (Haddenham Healthcare Ltd) 2 device
3      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size IV Beige (Haddenham Healthcare Ltd) 2 device
4      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size V Beige (Haddenham Healthcare Ltd) 2 device
5      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size VI Beige (Haddenham Healthcare Ltd) 2 device
6      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size VII Beige (Haddenham Healthcare Ltd) 2 device
7      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size VIII Beige (Haddenham Healthcare Ltd) 2 device
8      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size I Black (Haddenham Healthcare Ltd) 2 device
9      Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size II Black (Haddenham Healthcare Ltd) 2 device
10     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size III Black (Haddenham Healthcare Ltd) 2 device
11     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size IV Black (Haddenham Healthcare Ltd) 2 device
12     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size V Black (Haddenham Healthcare Ltd) 2 device
13     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size VI Black (Haddenham Healthcare Ltd) 2 device
14     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size VII Black (Haddenham Healthcare Ltd) 2 device
15     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide short size VIII Black (Haddenham Healthcare Ltd) 2 device
16     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size I Beige (Haddenham Healthcare Ltd) 2 device
17     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size II Beige (Haddenham Healthcare Ltd) 2 device
18     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size III Beige (Haddenham Healthcare Ltd) 2 device
19     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size IV Beige (Haddenham Healthcare Ltd) 2 device
20     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size V Beige (Haddenham Healthcare Ltd) 2 device
21     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VI Beige (Haddenham Healthcare Ltd) 2 device
22     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VII Beige (Haddenham Healthcare Ltd) 2 device
23     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VIII Beige (Haddenham Healthcare Ltd) 2 device
24     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size I Black (Haddenham Healthcare Ltd) 2 device
25     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size II Black (Haddenham Healthcare Ltd) 2 device
26     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size III Black (Haddenham Healthcare Ltd) 2 device
27     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size IV Black (Haddenham Healthcare Ltd) 2 device
28     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size V Black (Haddenham Healthcare Ltd) 2 device
29     Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VI Black (Haddenham Healthcare Ltd) 2 device
                                                                            ...
234    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size III Smoke (Haddenham Healthcare Ltd) 2 device
235    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size IV Smoke (Haddenham Healthcare Ltd) 2 device
236    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size V Smoke (Haddenham Healthcare Ltd) 2 device
237    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VI Smoke (Haddenham Healthcare Ltd) 2 device
238    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VII Smoke (Haddenham Healthcare Ltd) 2 device
239    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VIII Smoke (Haddenham Healthcare Ltd) 2 device
240    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size I Slate (Haddenham Healthcare Ltd) 2 device
241    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size II Slate (Haddenham Healthcare Ltd) 2 device
242    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size III Slate (Haddenham Healthcare Ltd) 2 device
243    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size V Slate (Haddenham Healthcare Ltd) 2 device
244    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size IV Slate (Haddenham Healthcare Ltd) 2 device
245    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VI Slate (Haddenham Healthcare Ltd) 2 device
246    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VII Slate (Haddenham Healthcare Ltd) 2 device
247    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VIII Slate (Haddenham Healthcare Ltd) 2 device
248    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size I Grey (Haddenham Healthcare Ltd) 2 device
249    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size I Mocha (Haddenham Healthcare Ltd) 2 device
250    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size II Grey (Haddenham Healthcare Ltd) 2 device
251    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size II Mocha (Haddenham Healthcare Ltd) 2 device
252    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size III Grey (Haddenham Healthcare Ltd) 2 device
253    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size III Mocha (Haddenham Healthcare Ltd) 2 device
254    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size IV Grey (Haddenham Healthcare Ltd) 2 device
255    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size IV Mocha (Haddenham Healthcare Ltd) 2 device
256    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size V Grey (Haddenham Healthcare Ltd) 2 device
257    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size V Mocha (Haddenham Healthcare Ltd) 2 device
258    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VI Grey (Haddenham Healthcare Ltd) 2 device
259    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VI Mocha (Haddenham Healthcare Ltd) 2 device
260    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VII Grey (Haddenham Healthcare Ltd) 2 device
261    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VIII Mocha (Haddenham Healthcare Ltd) 2 device
262    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VIII Grey (Haddenham Healthcare Ltd) 2 device
263    Haddenham Veni class 2 (23-32mmHg) below knee open toe lymphoedema garment extra wide regular size VII Mocha (Haddenham Healthcare Ltd) 2 device
Name: NM, dtype: object